<div id="title">
    <div>
        <p><%= @blog.updated_at.strftime("%Y/%m/%d")%> / 書いた人:<%= @blog.user.email %></p>
        <h1><%= @blog.title %></h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">
        <p><%= @blog.text %></p>
    </div>


    <div id="sidebar">
        
        <h2>★PV数ランキング</h2>
        <% unless @top_blogs == nil %>
        <ul>
          <% @top_blogs.each do |top|%>
            <li><a href="/blogs/<%= top.id %>"><%= top.title %><span>（<%= top.access %>PV）</span></a></li>
          <% end %>
        </ul>
        <% end %>
    </div>
    <div class="clear"></div>
</div>