        <div>
            <h2><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></h2>
            <p><%= blog.updated_at.strftime("%Y/%m/%d")%></p>
            <p>
                <%= link_to '編集', edit_blog_path(blog.id) %>
                <%= link_to '削除', "/blogs/#{blog.id}", method: :delete, data: { confirm: "削除してよろしいですか？"} %>
            </p>
        </div>