<div id="main">
    <%= image_tag("main-img.jpg") %>
</div>


<div id="article_wrap">

    <div id="article_list">
      <% @blogs.each do |blog|%>
        <%= render blog %>
      <% end %>
    </div>



    <div id="sidebar">
        
        <h2>★PV数ランキング</h2>
        <ul>
          <% @top_blogs.each do |top|%>
          <%= REDIS.get "blogs/#{top.id}"%>
         
            <li><a href="/blogs/<%= top.id %>"><%= top.title %><span>（<%= top.access %>PV）</span></a></li>
          <% end %>
        </ul>
    </div>
    <div class="clear"></div>
</div>