<!DOCTYPE html>
<html>
  <head lang="ja">
    <title>Rails Camp Blog</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <p id="logo"><a href="">RailsCamp<span>Blog</span></a></p>
    <nav>
        <ul>
            <li><a href="">トップ</a></li>
            <li><a href="">新規投稿</a></li>
            <div class="clear"></div>
        </ul>
    </nav>
    <div class="clear"></div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
